body {
	background-color: #212121;
	color: #f5f5f5;
	font-family: Arial, sans-serif;
}

.menu-table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 50%;
}

.menu-table th,
.menu-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.menu-table th {
	background-color: #424242;
	color: #f5f5f5;
}

.menu-table tr:nth-child(even) {
	background-color: #333;
}

.menu-table tr:hover {
	background-color: #555;
}